# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environment
venv/
.venv/
env/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log
redis_data
postgres_data
celerybeat.log
celerybeat-schedule.db